$colorOne : #005799;
$colorTwo : #1566A2;
$colorThree : #484749;

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #00A3DD;
    box-shadow: inset 0 0 120px 20px rgba(0,0,0,0.9)
}

main {
    flex: 1;
}

header {
    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100%;
    background: white;
    overflow: hidden;
    z-index: 1;
}

header img {
    width: 15%;
    height: auto;
    margin: 18% 0;
}

main {
    padding: 3% 0;
}

main section:nth-child(1) {
    position: relative;
}

main section {
    min-height: 130px;
    padding: 2%;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin: 1em;
    height: auto;
    background: #fff;
}

.config {
    position: absolute;
    top: 1%;
    right: 1%;
}

.titleSection, .title-section {
    font-size: 26px;
    text-align: left;
}

.add-button {
    font-size: 60px;
    margin-left: 20px;
    cursor: pointer;
}

.small-add-button {
    font-size: 40px;
    cursor: pointer;
}

.config-button {
    font-size: 30px;
    cursor: pointer;
}

.no-active {
    color: #8B8B8B;
    cursor: default;
}

footer {
    font-size: 16px;
    text-align: center;
    padding: 1%;
    color: #000;
}

footer img {
    float: right;
    width: 5%;
}

.direction-dropdown {
    margin-top: 20px;
}

.save-group-btn {
    margin-top: 20px;
}

#group-container {
    margin-top: 20px;
}

.group-item {
    padding: 0;
    margin: 5px;
    min-height: 140px;
    cursor: pointer;
}

.group-item .group-edit-exams {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 28px;
}
.add-time-slot{
    width: 75%;
    height: 30px;
    text-align: center;
    margin: 15px;
    line-height: 28px;
}


#group-section .group-item:hover {
    background-color: lightgray;
}

.test-item {
    padding: 0;
    margin-left: 10px;
    min-height: 140px;
}

.modalwin {
    width: 600px;
    min-height: 200px;
    top: 20%;
    right: 0;
    left: 0;
    font-size: 14px;
    margin: 0 auto;
    z-index: 2;
    display: none;
    position: fixed;
    padding: 2%;
    border: 3px outset gray;
    border-radius: 10px;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    height: auto;
    background: #fff;
}

.shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #000;
    opacity: 0.5;
    left: 0;
    top: 0;
}

.direction {
    counter-reset: li;
    list-style: none;
    padding: 0;
    margin: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.direction-list {
    float: right;
}

.t-f-list li {
    min-width: 200px;
}

.t-f-list a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #FAFAFA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}

.t-f-list a:hover {
    background: #E9E4E0;
}

.t-f-list a:hover:before {
    transform: rotate(360deg);
}

.t-f-list a:before {
    content: '\2600';
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #006DF1;
    color: #fff;
    height: 2.5em;
    width: 2.5em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}
.t-btn{
    position: absolute;
    top: 35%;
    left: 35%;
}

.f-btn{
    position: absolute;
    top: 35%;
    left: 45%;
}

.close-btn{
    font-size: 46px;
    position: absolute;
    top: 2%;
    right: 2%;
}

.wrapper-list{
    position: relative;
}
#settings{
    min-height: 280px;
}

.direction-select {
    float: left;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    padding-right: 35px;
    overflow: hidden;
   
}

.direction-select select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
  
}

.direction-select select:focus {
    outline: none;
}


/*#  one more styles for modal window */

.with-modal {
    padding-right: 17px;
}

.display {
    display: block;
}

.light-gray {
    background-color: lightgray;
}


/*  editGroupTestModal */

.edit-group-test-modal .grade-input {
    width: 30%;
}

.edit-group-test-modal .add-test-input {
    width: 75%;
} 

.edit-group-test-modal .add-exam-btn {
    font-size: 33px;
}


/*  editGroupTestModal end*/


/*  edit group modal  */

.context-menu-group-modal .modal-body {
    text-align: center;
}

.context-menu-group-modal .edit-group-btn {
    margin-left: 100px;
}


/*  edit group modal end  */


/*  filter section  */

#filter-section {
    min-height: 150px;
    position: relative;
}

#filter-section .filter-controls {
    text-align: right;
}

#filter-section .add-custom-filter {
    margin-right: 49px;
}

#filter-section .arrow-controls {
    display: inline-block;
}

#filter-section .filter-arrow {
    font-size: 25px;
    display: block;
}

#filter-section .filter-item {
    display: inline-block;
}

#filter-section .filter-list {
    font-size: 18px;
    text-align: center;
}

#filter-section .btn-toggle {
    font-size: 14px;
    font-weight: bold;
}


/*  filter section end */


/*   add asign Users */

.people-modal {
    width: 400px;
    height: 250px;
    border: 1px solid black;
}

.people-input-area {
    width: 100%;
    height: 400px;

}

.button-open-people {
    width: 20px;
    height: 50px;
}

/* for result   */

th, td {
    border: 1px solid black;
    padding: 5px;
}

.time-slot{
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 28px;
    border-radius: 3px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

/* SETTINGS */

.add-filter-containerA {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    vertical-align: top;
}

.settings-main-item {

}

.selected-tests {
    list-style-type: none;
}

.test-for-filter {
    background: #E9E4E0;
    padding: 3px;
    margin-top: 2px;
    vertical-align: top;
}

.test-for-filter:hover {
    background: #9ac5cc;
    font-weight: bold;
    color:blue;
}

.settings-add-filter {
    margin-top: 10px;
    vertical-align: top;
}

::-webkit-inner-spin-button,
::-webkit-clear-button{
    display: none;
}
input::-webkit-calendar-picker-indicator {
    background-image:url(http://beyondsuiterama8.com/images/ic-calendar.png);
    background-repeat: no-repeat;
    font-size: 21px;
    opacity: 1;
    color: rgba(0,0,0,0);
}

input::-webkit-calendar-picker-indicator:hover {
    background-color:  rgba(0,0,0,0);
}

input#day-input {
        background-image: url(http://beyondsuiterama8.com/images/ic-calendar.png);
        background-repeat: no-repeat;
        background-position: 97% 62%;
        cursor: pointer;
}

.day-item{
    padding: 0;
    margin: 5px;
    min-height: 140px;
}
.add-people {
    cursor: pointer;
}



